[build]
  base = "."
  publish = "."
  functions = "netlify/functions"

# Garante que o celular baixe as atualizações do App rápido
[[headers]]
  for = "/sw.js"
  [headers.values]
    Cache-Control = "no-cache"

[[headers]]
  for = "/index.html"
  [headers.values]
    Cache-Control = "no-cache"
